:root {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Scada", sans-serif;
  --min-temp: #5ebad8;
  --max-temp: #da7400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Reusable */
.bold {
  font-weight: bold;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* Elements */
body {
  letter-spacing: 0.5px;
  height: 100%;
  background-color: #5ebad8;
  background-image: url(./assets/bc.jpg);
  background-repeat: repeat;
  background-position: 0 10%;
}

section,
select,
#app {
  width: 100%;
}

#app {
  padding: 3rem;
  flex-basis: 70%;
  gap: 6rem;
}

.logo {
  color: white;
  font-size: 6rem;
  width: max-content;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.city-container {
  border-radius: 1rem;

  gap: 2rem;
  position: relative;
}

select {
  font-family: inherit;
  font-size: 1.8rem;
  outline: none;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.invalid-msg {
  width: max-content;
  color: rgb(255, 186, 202);
  font-size: 1.8rem;

  position: absolute;
  bottom: -3rem;
  left: 5px;
}

.img-bc {
  background-color: rgb(255, 255, 255);
  padding: 1em 0;
}

.weather-img {
  width: 40%;
}

.container {
  background-color: rgba(240, 240, 240, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  overflow: hidden;
}

.now {
  flex-wrap: wrap;
  gap: 3rem;
}

.future {
  max-width: 90rem;
}

.big {
  min-width: 25rem;
  flex-basis: 35rem;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.info {
  padding: 2em;
  gap: 2em;
}

.day {
  font-size: 2em;
}

.small .day {
  font-size: 1.6em;
}

.description {
  font-size: 1.8em;
  flex-basis: 7rem;
  line-height: 1.5;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.small .description {
  font-size: 1.6em;
}

.numbers {
  gap: 2em;
}

.temps {
  gap: 1em;
}

.temp {
  color: white;
  font-size: 2.2em;

  width: fit-content;
  white-space: nowrap;
  padding: 2px 0.5em;
  border-radius: 5px;
}

.min {
  background-color: var(--min-temp);
}

.max {
  background-color: var(--max-temp);
}

.wind {
  font-size: 2em;
}

@media (max-width: 50em) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 32em) {
  .small {
    font-size: 0.9rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .logo {
    font-size: 4rem;
  }

  .invalid-msg {
    font-size: 1.4rem;
  }
}
